*.cs linguist-language=C#

# Loại trừ file HTML khỏi thống kê (vì cshtml cũng được coi là HTML)
*.cshtml linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.json linguist-vendored

# Loại trừ thư mục front-end
wwwroot/** linguist-vendored
libs/** linguist-vendored

# Xử lý các file sinh tự động
*.min.js linguist-generated=true

# Định dạng kết thúc dòng
*.cs text eol=crlf
*.sh text eol=lf

# File nhị phân
*.dll binary
*.exe binary
*.jpg binary
*.png binary
