appsettings.json
appsettings.Development.json
.env

# Visual Studio files
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.tmp

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# JetBrains
.idea/

# ignore wwwroot
wwwroot/
https://dutudn-my.sharepoint.com/my?id=%2Fpersonal%2F102230224%5Fsv1%5Fdut%5Fudn%5Fvn%2FDocuments%2FPBL3%5FLibrary%5F1%2Erar&parent=%2Fpersonal%2F102230224%5Fsv1%5Fdut%5Fudn%5Fvn%2FDocuments